<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nalsasupport.nalsaacademy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StandardActivity"
            android:parentActivityName=".activity.HomeAdminActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DeciderActivity" />
        <activity
            android:name=".activity.ViewVideoListActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.ViewPlaylistsActivity"
            android:label="View/Edit Playlists" />
        <activity
            android:name=".activity.ViewStudentsActivity"
            android:label="View/Edit Students" />
        <activity
            android:name=".activity.AddPlaylistActivity"
            android:label="Create Playlist" />
        <activity
            android:name=".activity.ViewVideosActivity"
            android:label="View/Edit Videos" />
        <activity
            android:name=".activity.AddVideosActivity"
            android:label="Add Videos" />
        <activity
            android:name=".activity.HomeAdminActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:parentActivityName=".activity.DeciderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginStudentActivity"
            android:parentActivityName=".activity.DeciderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CustomPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>